@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="page-title-1">Jokes Baba</p>
    <img class="body_img" src="~/lib/images/HomeImages/istockphoto-137813272-612x612.jpg">   
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://github.com/Arsene9">other projects we are working on</a>.</p>
    <p>In the meantime have fun with these jokes.</p>
</div>
