@{
    ViewData["Title"] = "Privacy Policy";
}
<img class="background" src="~/lib/images/HomeImages/iStock-512814798.jpg">
<p class="page-title-2">@ViewData["Title"]</p>
<p class="page-main-text-1">Jokes should be used with moderation. Have fun.</p>
